<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Post Creation</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Group Link</label>
                        <input type="text" class="form-control" name="fname" id="groupLink">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Post text</label>
                        <input type="text" class="form-control" name="lname" id="text">
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label class="control-label">Publication Time</label>
                        <div class='input-group date' id='publishDate'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <button id="publish" class="btn btn-primary">Publish</button>
        </div>
    </div>
    <div id="messages">
        {{#each posts}}
        <div>
            <h4>Group Link: {{groupLink}}</h4>
            <p>Post text: {{text}}</p>
            <p>Post date: {{publishDate}}</p>
        </div>
        {{/each}}
    </div>
</div>
<script src="/socket.io/socket.io.js"> </script>
<script src="js/main.js"></script>